<h1>New workout</h1>

<% form_for(@workout) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </p>
  <p>
    <%= f.label :exercise %><br />
    <%= f.text_field :exercise %>
  </p>
  <p>
    <%= f.label :expectedreps %><br />
    <%= f.text_field :expectedreps %>
  </p>
  <p>
    <%= f.label :expectedsets %><br />
    <%= f.text_field :expectedsets %>
  </p>
  <p>
    <%= f.label :actualreps %><br />
    <%= f.text_field :actualreps %>
  </p>
  <p>
    <%= f.label :actualsets %><br />
    <%= f.text_field :actualsets %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', workouts_path %>