<h1>Editing workouts for <%=h @user.name %></h1>

<% form_for([@user,@workout]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Date" %><br />
    <%= f.datetime_select :date, :start_year => Date.today.year, :end_year => Date.today.year + 5, :discard_hour => true %>
  </p>
  <p>
    <%= f.label "Exercise" %><br />
    <%= f.select :exercise, %w{Biceps Triceps} %>

  </p>
  <p>
    <%= f.label "Expected reps" %><br />
    <%= f.text_field :expectedreps %>
  </p>
  <p>
    <%= f.label "Expected sets" %><br />
    <%= f.text_field :expectedsets %>
  </p>
  <p>
    <%= f.label "Completed Reps" %><br />
    <%= f.text_field :actualreps %>
  </p>
  <p>
    <%= f.label "Completed Sets" %><br />
    <%= f.text_field :actualsets %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Remove', [@user, @workout], :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Show', [@user, @workout] %> |
<%= link_to 'Back', user_workouts_path(@user) %>