<h1>Listing workouts</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Exercise</th>
    <th>Expectedreps</th>
    <th>Expectedsets</th>
    <th>Actualreps</th>
    <th>Actualsets</th>
  </tr>

<% @workouts.each do |workout| %>
  <tr>
    <td><%=h workout.date %></td>
    <td><%=h workout.exercise %></td>
    <td><%=h workout.expectedreps %></td>
    <td><%=h workout.expectedsets %></td>
    <td><%=h workout.actualreps %></td>
    <td><%=h workout.actualsets %></td>
    <td><%= link_to 'Show', [@user, workout] %></td>
    <td><%= link_to 'Edit', edit_user_workout_path(@user,workout) %></td>
    <td><%= link_to 'Destroy', [@user, workout], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New workout', new_user_workout_path(@user) %>
<%= link_to 'Back', @user %>
