<p>
  <b>Date:</b>
  <%=h @workout.date %>
</p>

<p>
  <b>Exercise:</b>
  <%=h @workout.exercise %>
</p>

<p>
  <b>Expected reps:</b>
  <%=h @workout.expectedreps %>
</p>

<p>
  <b>Expected sets:</b>
  <%=h @workout.expectedsets %>
</p>



<p>
<% if @workout.actualreps %>
	<b>Completed reps:</b>
	<%=h @workout.actualreps %>
<% end %>
</p>

<p>
<% if @workout.actualsets %>
	<b>Completed sets:</b>
	<%=h @workout.actualsets %>
<% end %>
</p>

<%= link_to 'Edit', edit_user_workout_path(@user,@workout) %> |
<%= link_to 'Back', calendar_path(@user) %>