<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th>Weight</th>
    <th>Height</th>
    <th>Gender</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.birthday %></td>
    <td><%=h user.weight %></td>
    <td><%=h user.height %></td>
    <td><%=h user.gender %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>