<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Name" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Birthday" %><br />
    <%= f.datetime_select :birthday, :start_year => Date.today.year, :end_year => Date.today.year - 100, :discard_hour => true %>
  </p>
  <p>
    <%= f.label "Weight" %><br />
    <%= f.text_field :weight %>
  </p>
  <p>
    <%= f.label "Height" %><br />
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.label "Gender" %><br />
    <%= f.select :gender, %w{Male Female} %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>