<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Birthday:</b>
  <%=h @user.birthday %>
</p>

<p>
  <b>Weight:</b>
  <%=h @user.weight %>
</p>

<p>
  <b>Height:</b>
  <%=h @user.height %>
</p>

<p>
  <b>Gender:</b>
  <%=h @user.gender %>
</p>


<%= link_to 'My Calendar', calendar_path(@user) %>
<%= link_to 'My Workouts', user_workouts_path(@user) %>
<%= link_to 'Edit my Profile', edit_user_path(@user) %>
<%= link_to 'Index of User accounts', users_path %>